* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    margin: 0 auto;

}

header {
    font-family: 'Be Vietnam Pro';
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .head {
        
        width: 100%;
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;

        .logo {
            width: 200px;
            height: 60px;
            border-radius: 8px;
            background-color: #E2E2E2;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 20px;
            color: #333333;

        }

        .menu {
            max-width: 820px;
            width: 100%;
            height: 34px;
            border-radius: 8px;
            background-color: #E2E2E2;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 20px;
            color: #333333;
        }

        .button {
            width: 120px;
            height: 42px;
            border-radius: 8px;
            background-color: #E2E2E2;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 20px;
            color: #333333;
        }
    }


}

.content--1 {
    padding: 80px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #F1F1F1;
    font-family: 'Be Vietnam Pro';

    .con {
        max-width: 585px;
        width: 100%;
        height: 267px;
        border-radius: 8px;
        background-color: #E2E2E2;
        font-weight: 700;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333333;
    }

    .img {
        max-width: 585px;
        width: 100%;
        height: 520px;
        border-radius: 8px;
        background-color: #E2E2E2;
        font-weight: 700;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333333;
    }
}

.content--2 {
    padding: 80px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0 auto;

    .title--2 {
        max-width: 600px;
        width: 100%;
        height: 80px;
        border-radius: 8px;
        background-color: #E2E2E2;
        color: #333333;
        font-family: 'Lora';
        font-weight: 700;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .card--box {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Be Vietnam Pro';
        width: 100%;
        max-width: 1200px;

        .item {
            max-width: 380px;
            width: calc((100% - 60px)/3);
            height: 420px;
            border-radius: 8px;
            background-color: #E2E2E2;
            font-weight: 700;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.content--3 {
    padding: 80px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #F1F1F1;

    .title--3 {
        width: 600px;
        height: 80px;
        border-radius: 8px;
        background-color: #E2E2E2;
        color: #333333;
        font-family: 'Lora';
        font-weight: 700;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card--box {
        display: flex;
        gap: 30px;
        font-family: 'Be Vietnam Pro';
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
        width: 100%;

        .item {
            max-width: 216px;
            width: calc((100% - 120px)/5);
            height: 300px;
            border-radius: 8px;
            background-color: #E2E2E2;
            font-weight: 700;
            font-size: 20px;
            color: #333333;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
}

.content--4 {
    padding: 80px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .title--4 {
        width: 600px;
        height: 80px;
        border-radius: 8px;
        background-color: #E2E2E2;
        color: #333333;
        font-weight: 700;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Lora';
    }

    .card--box {
        display: flex;
        gap: 30PX;
        font-family: 'Be Vietnam Pro';
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
        width: 100%;

        .item {
            max-width: 277.5px;
            width: calc((100% - 90px)/4);
            height: 300px;
            border-radius: 8px;
            background-color: #E2E2E2;

            font-weight: 700;
            font-size: 20px;
            color: #333333;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
}

footer {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    background-color: #D9D9D9;
}


@media(min-width:660px) and (max-width:1024px) {
    header {
        padding-inline: 15px;
        height: 72px;

        .head {
            width: 100%;
            max-width: 720px;


            .logo {
                width: 140px;
                height: 42px;
            }

            .button {
                width: 102px;
                height: 36px;
            }

            .menu {
                width: 418px;
                height: 30px;
            }
        }
    }

    .content--1 {
        padding: 60px 15px;

        .con {
            width: 100%;
            max-width: 345px;
            height: 267px;
        }

        .img {
            width: 100%;
            max-width: 345px;
            height: 310px;
        }
    }

    .content--2 {
        padding: 60px 15px;
        gap: 30px;

        .title--2 {
            max-width: 720px;
            width: 100%;
            height: 60px;
        }

        .card--box {
            max-width: 720px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .item {
                width: 100%;
                max-width: 345px;
            }
        }
    }

    .content--3 {
        padding: 60px 15px;
        gap: 30px;

        .title--3 {
            width: 100%;
            max-width: 720px;
            height: 60px;

        }

        .card--box {
            max-width: 720px;
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .item {
                max-width: 220px;
                width: 100%;
            }
        }
    }

    .content--4 {
        padding: 60px 15px;
        gap: 30px;

        .title--4 {
            width: 100%;
            max-width: 720px;
            height: 60px;


        }

        .card--box {
            max-width: 720px;
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .item {
                width: 100%;
                max-width: 345px;

            }
        }
    }

}


@media(max-width:659px) {
    header {
        height: 72px;
        padding: 0 15px;

        .head {
            width: 100%;
            max-width: 546px;
            padding-inline: 0;
            display: flex;
            justify-content: space-between;

            .logo {
                width: 140px;
                height: 42px;
                border-radius: 8px;
                order: 2;
            }

            .button {
                width: 78px;
                height: 36px;
                order: 3;
                font-size: 16px;
            }

            .menu {
                width: 66px;
                height: 36px;
                order: 1;
                font-size: 16px;
            }
        }
    }

    .content--1 {
        display: flex;
        flex-direction: column;
        padding: 45px 15px;

        .con {
            width: 100%;
            max-width: 546px;
            height: 267px;
            border-radius: 8px;
            order: 2;
        }

        .img {
            width: 100%;
            max-width: 546px;
            height: 491px;
            border-radius: 8px;
            order: 1;
        }
    }



    .content--2 {
        padding: 45px 15px;
        gap: 30px;

        .title--2 {
            max-width: 546px;
            width: 100%;
            height: 60px;
        }

        .card--box {

            .item {
                max-width: 546px;
                width: 100%;
                height: 420px;
                border-radius: 8px;
            }
        }
    }

    .content--3 {
        padding: 45px 15px;
        gap: 30px;

        .title--3 {
            width: 100%;
            max-width: 546px;
            height: 60px;

        }

        .card--box {
            max-width: 546px;
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .item {
                max-width: 258px;
                width: 100%;
            }
        }
    }

    .content--4 {
        padding: 45px 15px;
        gap: 30px;

        .title--4 {
            width: 100%;
            max-width: 546px;

        }

        .card--box {
            max-width: 546px;
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .item {
                width: 100%;
                max-width: 258px;

            }
        }
    }
}